#recipes-list {
    list-style: none;
}

.title {
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: 1000;
    color: #EC6792;
}

.page-content {
    color: #EC6792;
    border-bottom: 1px solid #40BFE2;
}

.cookie-img {
    max-width: 400px;
    height: auto;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic', sans-serif;
    color: #EC6792;
}

p, li {
    font-family: 'EB Garamond', serif;
}

img {
    width: auto;
    height: 20em;
}

a {
    color: #40BFE2;
    text-decoration: none;
}

a:hover {
    color: #EC6792;
}

.ingredients-list li {
    color: #40BFE2;
}