.title {
    font-family: 'Impact', sans-serif;
    font-weight: 1000;
    color: #EC6792;
}

h2, h3, h4 {
    font-family: 'EB Garamond', serif;
    color: #EC6792;
}

p, li {
    font-family: 'EB Garamond', serif;
}