@import "reset.css";

#recipes-list {
    list-style: none;
}

.title {
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: 1000;
    color: #EC6792;
    text-align: center;
}

.page-content {
    color: #EC6792;
    border-bottom: 1px solid #40BFE2;
}

.cookie-img {
    max-width: 400px;
    height: auto;
}

.flex-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.info-list {
    height: 85vh;
    overflow-y: auto;
}

figcaption {
    font-family: 'EB Garamond', serif;
    font-size: 1.125rem;
    text-align: center;
}

details[open] {
}

details > summary {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 1.5rem;
    color: #EC6792;
    font-weight: bold;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic', sans-serif;
    color: #EC6792;
}

p, li {
    font-family: 'EB Garamond', serif;
    font-size: 1.125rem;
}

a {
    color: #40BFE2;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #EC6792;
    font-weight: bold;
}

.ingredients-list li {
    color: #40BFE2;
}