@import "reset.css";

:root {
    --pink: #EC6792;
    --blue: #40BFE2;
}

#title {
    text-align: center;
    color: var(--pink);
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

img {
    max-width: 300px;
    height: auto;
}

#recipes-list {
    list-style: none;
}

footer {
    text-align: center;
}

.title {
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: 1000;
    color: var(--pink);
    text-align: center;
}

.page-content {
    color: var(--pink);
    border-bottom: 1px solid var(--blue);
}

.cookie-img {
    max-width: 400px;
    height: auto;
}

.flex-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.info-list {
    height: 85vh;
    overflow-y: auto;
}

figcaption {
    font-family: 'EB Garamond', serif;
    font-size: 1.125rem;
    text-align: center;
}

details > summary {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 1.5rem;
    color: var(--pink);
    font-weight: bold;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic', sans-serif;
    color: var(--pink);
}

p, li {
    font-family: 'EB Garamond', serif;
    font-size: 1.125rem;
}

a {
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--pink);
    font-weight: bold;
}

.ingredients-list li {
    color: var(--blue);
}